/* .dark-primary-color    { background: #388E3C; }
.default-primary-color { background: #4CAF50; }
.light-primary-color   { background: #C8E6C9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #03A9F4; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; } */

/* font-family: 'Open Sans Condensed', sans-serif; */
/* font-family: 'Special Elite', cursive; */

body {
  background-color: #4CAF50;
}

h1 {
  text-align: center;
  font-family: 'Special Elite', cursive;
}

.card-container-1 {
  display: flex;
  justify-content: space-around;
  padding: 40px;
}

.card-container-2 {
  display: flex;
  justify-content: space-around;
  padding: 40px;
}

.card img {
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-img {
  position: relative;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* z-index: 1; */
}

.sold-out {
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* z-index: 2; */
}

.card {
  background-color: #03A9F4;
  border: 3px solid #BDBDBD;
  box-shadow: 10px 15px #388E3C;
  margin: 10px;
  padding: 10px;
  width: 200px;
}

h2 {
  text-align: center;
  border: 1px solid #BDBDBD;
  color: #212121;
  font-family: 'Special Elite', cursive;
}

.product-info p {
  text-align: justify;
  color: #212121;
  font-family: 'Open Sans Condensed', sans-serif;
}

.product-info p1 {
  display: block;
  background-color: #388E3C;
  color: #FFFFFF;
}

.specs {
  font-weight: bold;
  font-size: 15px;
  color: #212121;
}

.specs h3 {
  color: #212121;
  font-family: 'Special Elite', cursive;
}

.specs p {
  color: #757575;
  font-family: 'Open Sans Condensed', sans-serif;
}

.specs footer p {
  font-weight: normal;
  font-size: 10px;
  color: #FFFFFF;
}

.pricing {
  font-weight: bold;
  font-size: 15px;
  color: #212121;
}

.pricing h3 {
  font-family: 'Special Elite', cursive;
}

.pricing p {
  color: #757575;
  font-family: 'Open Sans Condensed', sans-serif;
}
